<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" th:if="${language}=='mk'" th:href="'/home?language=mk'">
            <h3>Mapket</h3>
        </a>
        <a class="navbar-brand" th:if="${language}=='en'" th:href="'/home?language=en'">
            <h3>Mapket</h3>
        </a>

        <!-- Navbar -->
        <div class="collapsed navbar-collapse" id="navbarDefault">
            <th:block th:if="${language} == 'mk'">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/markets?language=mk">Маркети</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about?language=mk">За Апликацијата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home?language=mk">MK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home?language=en">EN</a>
                    </li>
                </ul>
            </th:block>

            <th:block th:if="${language} == 'en'">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/markets?language=en">Markets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about?language=en">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home?language=mk">MK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home?language=en">EN</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </div>
</nav>

<div class="home">
    <div class="container">
        <th:block th:if="${language} == 'mk'">
            <div class="box">
                <p>Информации за најблиските маркети во Скопје!</p>
                <a href="/markets?language=mk" class="primary">Пронајди маркет</a>
                <a href="/about?language=mk" class="secondary">Дознај повеќе</a>
            </div>
        </th:block>

        <th:block th:if="${language} == 'en'">
            <div class="box">
                <p>Information about the markets in Skopje!</p>
                <a href="/markets?language=en" class="primary">Search Markets</a>
                <a href="/about?language=en" class="secondary">Find out more</a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>