<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
            <!-- Navbar Brand -->
            <a class="navbar-brand" th:if="${language}=='mk'" th:href="'/home?language=mk'">
                <h3>Mapket</h3>
            </a>
            <a class="navbar-brand" th:if="${language}=='en'" th:href="'/home?language=en'">
                <h3>Mapket</h3>
            </a>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" id="navbarDefault">
                <th:block th:if="${language} == 'mk'">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/markets?language=mk">Маркети</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link activeLink" href="/about?language=mk">За Апликацијата</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about?language=mk">MK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about?language=en">EN</a>
                        </li>
                    </ul>
                </th:block>

                <th:block th:if="${language} == 'en'">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/markets?language=en">Markets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link activeLink" href="/about?language=en">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about?language=mk">MK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about?language=en">EN</a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </nav>

    <div class="about">
        <div class="container">
            <div class="box">
                <th:block th:if="${language} == 'mk'">
                    <h3>За Апликацијата</h3>
                    <p>Mapket е апликација наменета да им овозможи на корисниците да ги пронајдат маркетите кои се наоѓаат во општините на територијата на градот Скопје.</p>
                    <p>Овозможува приказ на детали за маркетите, приказ на мапа, како и нивно филтрирање според име и општина.</p>
                </th:block>

                <th:block th:if="${language} == 'en'">
                    <h3>About the Application</h3>
                    <p>Mapket is an application that gives the users chance to find all markets located in Skopje.</p>
                    <p>It shows the details about the markets, such as name, location, working hours and website links. Filtering by name and location is possible, and showing market on a map too.</p>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>